{% extends "blogs/_base.html" %}
{% block content %}
    {% for post in posts %}
        <!-- Main Content-->
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <!-- Post preview-->
                    <div class="post-preview">
                        <!-- <a href="post.html"> -->
                            <h2 class="post-title">
                                {{ post.title }}
                            </h2>
                            <h3 class="post-subtitle">
                                {{ post.content }}
                            </h3>
                        <!-- </a> -->
                        <p class="post-meta">
                            Posted by
                            <a href="#!">{{ post.user }}</a>
                            {{ post.created_at }}
                        </p>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}