{% extends "blogs/_base.html" %}
{% block head %}
<script>
    $("#login_required").click(function() {
        $.confirm('안녕하세요! 빌리블입니다<br>info@billible.co.kr로 문의하시겠습니까?',{
            em:'Billible',
            title:'안내',
            callEvent:function(){$.alert('감사합니다.')},
            cancelEvent:function(){$.alert('예 궁금한건 언제든지 문의 주세요');},
            confirmButton:"로그인"
            cancelButton:'다음에',
        })
    });
</script>
{% endblock %}
{% block content %}
    <div class="container">
        <!-- Main Content-->
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                {% if user.is_authenticated %}
                    <a href="{% url 'post_write' %}" class="btn btn-primary float-right">글쓰기</a>
                {% else %}
                    <a href="{% url 'post_write' %}" class="btn btn-primary float-right disabled" id="login_required">글쓰기</a>
                {% endif %}
            </div>
            {% for post in posts %}
                <div class="col-lg-8 col-md-10 mx-auto">
                    <!-- Post preview-->
                    <div class="post-preview">
                        <a href="/post/{{ post.id }}">
                            <h2 class="post-title">
                                {{ post.title }}
                            </h2>
                            <h3 class="post-subtitle">
                                {{ post.content | safe }}
                            </h3>
                        </a>
                        <p class="post-meta">
                            Posted by
                            <a href="#!">{{ post.user }}</a>
                            {{ post.created_at }}
                        </p>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                </div>
            
            {% endfor %}
        </div>
    </div>
{% endblock %}